{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig'  %}    
{% endblock %}

{% block content %}
    <!-- Main content -->

    <section class="content">
        <h1>Ticket creation</h1>

        {{ form_start(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}


        <ul>
            <li>
                <a href="{{ path('ticket_index') }}">Back to the list</a>
            </li>
        </ul>
    </section>
{% endblock %}   


{% block footer %}    

    {% include 'footer.html.twig'  %}  

{% endblock %}   

