{% extends 'base.html.twig' %}

{% block header %}
{% include 'header.html.twig'  %}    
{% endblock %}
   
{% block content %}
    <!-- Main content -->
  
    <section class="content">
    <h1>Eventtypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventType in eventTypes %}
            <tr>
                <td><a href="{{ path('eventtype_show', { 'id': eventType.id }) }}">{{ eventType.id }}</a></td>
                <td>{{ eventType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventtype_show', { 'id': eventType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventtype_edit', { 'id': eventType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventtype_new') }}">Create a new eventType</a>
        </li>
    </ul>
 </section>
 {% endblock %}   
 
 
 {% block footer %}    
  
{% include 'footer.html.twig'  %}  

 {% endblock %}   
 
